@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
  font-family: 'Wushin';
  src: url('/src/assets/fonts/Wushin.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
